                /* ================================= 
  Media Queries
==================================== */
            /*MEDIUM SCREEN*/
            /*

@media only screen and (min-width: 414px) {
}
*/
            /*MEDIUM SCREENS*/
            /*768px */
            
            @media (min-width: 768px) {
                hr {
                    position: relative;
                    border: 2px solid green;
                    border-radius: 5px;
                }
                body {
                    position: relative;
                    width: 500px;
                    left: 164px;
                }
              
                
                #nav-button-main-container {
                    position: relative;
                    background-color: darkslateblue;
                    margin: 15px;
                    height: 80px;
                    border-radius: 15px;
                }
                .jumbotron{
                    background-color:cadetblue;
                }
                 .jumbotron:hover{
                    background-color:black;
                }
                
                
                #nav-buttons {
                    left: 83px;
                }
                .manga {
                    left: 50px;
                }
                .col-imgs {
                    border-radius: 5px;
                }
            }
            /*LARGE SCREEN SIZES*/
            
            @media (min-width: 1025px) {
                hr {
                    position: relative;
                    left:35px;
                    border: 2px solid firebrick;
                    border-radius: 5px;
                }
                body {
                    position: relative;
                    width: 550px;
                    left: 40pc;
                }
                #nav-button-main-container {
                    position: relative;
                    background-color:teal;
                    margin: 15px;
                    height: 80px;
                    border-radius: 15px;
                }
                
                .anime{
                    position:relative;
                    color:whitesmoke;
                    font-family: caveat brush, cursive;
                    font-size: 1.3em;
                    left:10px;
                }
                .manga{
                    position:relative;
                    color:whitesmoke;
                    font-family: caveat brush, cursive;
                    font-size: 1.3em;
                    left:60px;
                }
                
                .gtoEp-1{
                    position: relative;
                    left: 24px;
                }
                  .jumbotron{
                    background-color:lightcoral;
                }
                 .jumbotron:hover{
                    background-color:black;
                }
                #nav-buttons {
                    left: 72px;
                }
                .container-fluid h1 {
                    color: darkslategray;
                    background-color: forestgreen;
                    opacity: .9;
                }
                .col-imgs {
                    left: 0%;
                    width: 100%;
                    border-radius: 5px;
                }