/*
body {
    position: relative;
    background-image: url("http://hivewallpaper.com/wallpaper/2014/11/great-teacher-onizuka-22-desktop-background.jpg");
    background-color:black;
    background-size: cover;
    background-repeat: no-repeat;
     
    
}*/
