/*




MOBILE FIRST LAYOUT ONLY!!!!!



*/


/*BACKGROUND IMAGE STYLE*/

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}


/*GLOBAL STYLE*/

i {
    color: whitesmoke;
}

hr {
    position: relative;
    border: 2px solid red;
    border-radius: 5px;
    opacity: .5;
    width: 0px;
    height: 30px;
    left: 5px;
    top: 20px;
    top
}

a {
    text-decoration: none;
    color: orangered;
}

iframe{
    position: relative;
    margin-bottom: 10px;
}

/*MAIN BODY CONTAINER*/

#main-body-container {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    border: 2px solid transparent;
    border-radius: 5px;
    clear: both;
}

#main-body-container {
    color: black;
    font-family: Passion one
}


/*BANNER IMAGE STYLE*/

header {
    position: relative;
    width: 100%;
}

#gtosit {
    position: relative;
    background-image: url(../imgs/gtosit.jpg);
    margin-bottom: 15px;
    width: 99%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px black;
}


/*NAV BUTTON STYLE*/

#nav-button-main-container {
    position: relative;
    background-color: black;
    opacity: .9;
    margin: 15px;
    height: 80px;
    border-radius: 15px;
}

#nav-buttons {
    position: relative;
    width: 300px;
    height: 80px;
    display: flex;
    left: 50px;
}


/*NAV BUTTON PARAGRAPH*/

#nav-buttons p {
    position: relative;
    padding: 5px;
    width: 100px;
    height: 40px;
    top:-10px;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
}

.anime {
    color: whitesmoke;
    font-family: caveat brush, cursive;
    font-size: 1.3em;
}
.anime:hover{
    color:orangered;
    font-family:finger paint, fantasy;
}
.manga {
    color: whitesmoke;
    font-family: caveat brush, cursive;
    font-size: 1.3em;
}

.manga:hover{
    color:orangered;
    font-family:Finger Paint, fantasy;
}


/*JUMBOTRON STYLE*/

.jumbotron {
    position: relative;
    padding: 15px;
    background-color: coral;
    border-radius: 5px;
    font-family: 'Finger Paint', cursive;
    height: auto;
    opacity: .9;
    clear: both;
    z-index: 0;
}

.jumbotron:hover {
    background-color: black;
    border-radius: 10px;
}

.jumbotron h1 {
    text-align: center;
    color: midnightblue;
    font-family: 'Caveat Brush', cursive;
}

p .onizuka:hover {
    color: lightgreen;
}

.twentytwo:hover {
    color: white;
}

.troublemaker:hover {
    color: orangered;
}

.hardly:hover {
    color: brown;
}

.expelled:hover {
    color: paleturquoise;
}

.goodthing:hover {
    color: dodgerblue;
}

.tolate:hover {
    color: yellow
}

.container-fluid p {
    background-color: dodgerblue;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    font-size: 1.3em;
    font-family: finger paint, cursive;
    text-align: center;
}

.container-fluid h1 {
    position: relative;
    text-align: center;
    font-family: caveat brush, cursive;
    font-size: 2.3em;
    width: 340px;
    left: 80px;
    background-color: royalblue;
    border-radius: 5px;
}


/*COL-IMGS STYLE*/

.col-imgs {
    position: relative;
    left: 24%;
    border-radius: 5px;
}

.col-sm-6 {
    border-radius: 15px;
    background-color: dodgerblue;
    text-align: center;
    font-family: finger paint, cursive;
    padding: 5px;
    margin: 5px;
}


/*COPYRIGHT STYLE*/

#copyrights {
    position: relative;
    padding: 15px;
    left: 160px;
    width: 160px
}

.copy {
    position: relative;
    color: whitesmoke;
    z-index: 5;
}


/*COPYRIGHT HOVER STYLES*/

.copySymbol:hover {
    color: red;
}

.copyGreen:hover {
    color: green;
}

.copyOrange:hover {
    color: lightcoral;
}

.copyBlue:hover {
    color: mediumblue;
}

.copyGold:hover {
    color: goldenrod;
}

.topper {
    position: relative;
    color: white;
    left: 50px;
    text-align: center;
    font-weight: bold;
    top: 10px;
    padding: 5px;
    width: 50px;
}

.topper a {
    color: forestgreen;
}